<h3>SaveFile</h3>

@code {

}

<script>
    var myModal = document.getElementById('saveFileModal')
    var myInput = document.getElementById('fileName')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
</script>