<div class="row mt-4">
    <h5>Recommended Links</h5>
    @* <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 card-ads shadow-card mb-4"> *@
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/P79499577G?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/ir_no_japao_1.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Curso:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    15,000
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                Como declarar imposto de renda no Japão.
            </div>
        </a>
    </div>
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/G79499553N?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/nikkei_investing_1.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Curso:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    9,980
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                Curso completo COMO COMEÇAR A INVESTIR no Japão 2.0
            </div>
        </a>
    </div>
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/V86820230G?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/ganhe_dinheiro_online.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Ebook:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    3,000
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                Inicie seu e-commerce, através de PLR, afiliados e dropshipping.
            </div>
        </a>
    </div>
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/H86819942I?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/master_trade_hk50.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Curso:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    12,297
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                Vivendo do trade. Prepare-se para alcançar a independência financeira.
            </div>
        </a>
    </div>
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/U86819846U?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/hamburguer_gourmet.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Ebook:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    1,100
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                Neste guia completo, você encontrará segredos, dicas e receitas deliciosas.
            </div>
        </a>
    </div>
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/E79499574R?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/norte_do_investimento.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Ebook:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    1,980
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                Aprenda a investir no exterior de uma forma simples e sem complicações.
            </div>
        </a>
    </div>
    <div class="card-ads shadow-card mb-4">
        <a href="https://go.hotmart.com/X86820808Q?dp=1">
            <div class="card-ads-body">
                <img src="site_images/affiliates/seja_bilingue.png" width="150" height="81" />
            </div>
            <div class="card-ads-price mt-1 mb-1">
                <div class="cathegory">
                    Assinatura:
                </div>
                <div class="price">
                    <span class="material-icons text-xs">currency_yen</span>
                    5,000
                </div>
            </div>
            @* <hr class="dark horizontal mb-0 mt-0"> *@
            <div class="card-ads-footer text-xs text-center">
                O caminho mais seguro e possível para criar filhos bilingues no Japão.
            </div>
        </a>
    </div>
</div>
