@inject IStringLocalizer<LotoResource> LotoLocalizer
@inject IStringLocalizer<FeedResource> FeedLocalizer

<style>
    .ads-zone {
        display: flex;
        flex-flow: row wrap;
        margin: 0 !important;
        padding: 0 !important;
    }
    .card-ads {
        margin: 5px !important;
    }
</style>

<div class="container col-12">
    <h6 class="m-2 text-center text-wrap">@FeedLocalizer["SponsoredLinks"]</h6>
    @* <div class="row d-flex flex-wrap py-4"> *@
    <div class="ads-zone">
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/P79499577G?dp=1">
                <img src="site_images/affiliates/ir_no_japao_1.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">Curso</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥15,000</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    Como declarar imposto de renda no Japão.
                </p>
            </a>
        </div>
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/G79499553N?dp=1">
                <img src="site_images/affiliates/nikkei_investing_1.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">Curso</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥9,980</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    Curso completo COMO COMEÇAR A INVESTIR no Japão 2.0.
                </p>
            </a>
        </div>
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/V86820230G?dp=1">
                <img src="site_images/affiliates/ganhe_dinheiro_online.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">E-book</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥3,000</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    Inicie seu e-commerce com PLR, afiliados e dropshipping.
                </p>
            </a>
        </div>
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/H86819942I?dp=1">
                <img src="site_images/affiliates/master_trade_hk50.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">Curso</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥12,002</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    Alcance a independência financeira vivendo do trade.
                </p>
            </a>
        </div>
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/U86819846U?dp=1">
                <img src="site_images/affiliates/hamburguer_gourmet.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">E-book</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥1,100</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    Guia completo com segredos, dicas e receitas deliciosas.
                </p>
            </a>
        </div>
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/E79499574R?dp=1">
                <img src="site_images/affiliates/norte_do_investimento.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">E-book</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥1,980</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    Aprenda a investir no exterior sem medo ou complicações.
                </p>
            </a>
        </div>
        <div class="card card-ads shadow-card" style="width: 8rem; height: 10rem;">
            <a href="https://go.hotmart.com/X86820808Q?dp=1">
                <img src="site_images/affiliates/seja_bilingue.png" class="card-img-top" alt="...">
                <div class="card-body ps-2 pe-2 pt-1 pb-0">
                    <div class="d-inline-flex w-100 mt-0 mb-0">
                        <h6 class="card-title text-start text-xxs mt-0 mb-0 me-auto">Mensal</h6>
                        <h6 class="card-title text-xs mt-0 mb-0">￥5,000</h6>
                    </div>
                </div>
                <p class="text-ads text-xxs text-center ps-2 pe-2" style="line-height:0.75rem;">
                    O caminho mais seguro e possível para criar filhos bilingues.
                </p>
            </a>
        </div>
    </div>
</div>
