<div class="row">
    <h5>Combinations for TakarakujiNet Lotteries</h5>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-faded-info shadow-blur border-radius-lg py-3 pe-1">
                    @* <img src="site_images/buttoms/btnLoto6_menu_shadow.png" width="120" /> *@
                    <h4 class="text-white font-weight-bold text-center">Mini Loto</h4>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 text-center">Combinations for MiniLoto</h6>
                <p class="text-sm ">
                    Select 6 numbers or more and get all possible combinations listed on five-numbers sets.
                </p>
                <hr class="dark horizontal">
                <div class="d-flex align-self-center">
                    <p class="mb-0 text-xxs text-center">
                        <strong class="text-sm">&reg;</strong> MiniLoto is a 宝くじネット TM 
                        <br />
                        (c)2020 Takarakujinet Co.,Ltd. All Rights Reserved. 
                    </p>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-faded-danger shadow-blur border-radius-lg py-3 pe-1">
                    @* <img src="site_images/buttoms/btnLoto6_menu_shadow.png" width="120" /> *@
                    <h4 class="text-white font-weight-bold text-center">Loto 6</h4>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 text-center">Combinations for Loto Six</h6>
                <p class="text-sm ">
                    Select 7 numbers or more and get all possible combinations listed on five-numbers sets.
                </p>
                <hr class="dark horizontal">
                <div class="d-flex align-self-center">
                    <p class="mb-0 text-xxs text-center">
                        <strong class="text-sm">&reg;</strong> Loto6 is a 宝くじネット TM 
                        <br />
                        (c)2020 Takarakujinet Co.,Ltd. All Rights Reserved. 
                    </p>
                </div>                
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card z-index-2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-faded-primary shadow-blur border-radius-lg py-3 pe-1">
                    @* <img src="site_images/buttoms/btnLoto6_menu_shadow.png" width="120" /> *@
                    <h4 class="text-white font-weight-bold text-center">Loto 7</h4>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 text-center">Combinations for Loto Seven</h6>
                <p class="text-sm">
                    Select 8 numbers or more and get all possible combinations listed on five-numbers sets.
                </p>
                <hr class="dark horizontal">
                <div class="d-flex align-self-center">
                    <p class="mb-0 text-xxs text-center">
                        <strong class="text-sm">&reg;</strong> Loto7 is a 宝くじネット TM 
                        <br />
                        (c)2020 Takarakujinet Co.,Ltd. All Rights Reserved. 
                    </p>
                </div>                
            </div>
        </div>
    </div>
</div>

@code {

}
