<footer class="footer py-4  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-xs text-muted text-lg-start">                    
                    UI made with <i class="fa fa-heart"></i> by Creative Tim (www.creative-tim.com)
                </div>
            </div>
            <div class="col-lg-6">
                <p class="mb-0 text-xs text-center">
                    <strong class="text-sm">&reg;</strong> MiniLoto, Loto6 and Loto7 are 宝くじネット TMs of (c)2020 Takarakujinet Co.,Ltd.
                </p>
            </div>
        </div>
    </div>
</footer>

@code {

}
