@* @page "/privacypolicy-es-ES" *@

<PageTitle>Privacy Policy</PageTitle>

<div class="page privacyPolicy">
    <div class="row-cols-8">
        <h4 class="text-center">JP Loto Sistemas - Política de Privacidad</h4>
        <hr />
        <h5 class="text-center mt-2 mb-2">Términos y Condiciones</h5><br />
        <p>
            Este documento contiene información sobre la recolección, uso,
            almacenamiento y tratamiento de los datos personales de los
            usuarios y visitantes del sitio para la generación de
            combinaciones numéricas de Loto6 y Loto7, denominada PLoto,
            en el sitio www.jploto.com, en los siguientes términos:
        </p>
        <p>
            <strong>1. Datos personales y confidenciales:</strong><br />
            Este sitio web/aplicación no recopilará ni almacenará información
            confidencial, documentos personales o direcciones. Únicamente se
            solicitará y almacenará en la base de datos del sitio web
            www.jploto.com el correo electrónico, la contraseña y el
            número de teléfono (opcional) con el único fin de controlar
            el acceso de los usuarios.
        </p>
        <p>
            <strong>2. Intercambio de información:</strong><br />
            Este sitio web/aplicación no comparte ninguna información del
            usuario con otras aplicaciones desarrolladas por nosotros o por
            terceros.
        </p>
        <p>
            <strong>3. Política de cookies:</strong><br />
            Esta aplicación utiliza cookies para almacenar información y
            parámetros de configuración necesarios para el funcionamiento
            de la aplicación. Ninguna información sobre preferencias,
            comportamiento o perfil de usuario será recogida, almacenada
            o tratada por este sitio web.
        </p>
        <p>
            <strong>4. Compromiso de este sitio web:</strong><br />
            Este documento fue elaborado en cumplimiento de la Ley General de
            Protección de Datos Personales (Ley 13.709/18), el Marco de
            Derechos Civiles en Internet (Ley 12.965/14) y el Reglamento
            de la UE (UE n. 2016/6790).
            <br />
            Em respeito ao princípio da livre escolha e para evitar renovação
            involuntária da licença de uso deste aplicativo, nenhum dos nossos
            planos oferece a opção de renovação automática.
        </p>
        <br />
        <p class="mb-5">
            MV Sistemas - jul/2021 - Japan (admin@jploto.com)
        </p>
    </div>
</div>

@code {

}
