@* @page "/privacypolicy-en-US" *@

<PageTitle>Privacy Policy</PageTitle>

<div class="page privacyPolicy">
    <div class="row-cols-10">
        <h4 class="text-center">JP Loto Sistemas - Privacy Policy</h4>
        <hr />
        <h5 class="text-center mt-2 mb-2">Terms and Conditions</h5><br />
        <p>
            This document contains information on the collection, use, storage
            and treatment of personal data of users and visitors to the site
            for generating numerical combinations for Loto6 and Loto7, entitled
            PLoto, on the site www.jploto.com, under the following terms:
        </p>
        <p>
            <strong>1. Personal and confidential data:</strong><br />
            No confidential information, personal documents or addresses will be
            collected and/or stored by this website/application. Only e-mail,
            password and telephone number (optional) will be requested and stored
            in the www.jploto.com website database for the sole purpose of
            controlling user access.
        </p>
        <p>
            <strong>2. Information sharing:</strong><br />
            This website/application does not share any user information with
            other applications developed by us or third parties.
        </p>
        <p>
            <strong>3. Cookies Policy:</strong><br />
            This application uses cookies to store information and configuration
            parameters necessary for the application to function. No information
            about preferences, behavior or user profile will be collected, stored
            or treated by this website.
        </p>
        <p>
            <strong>4. Our compromise:</strong><br />
            This document was prepared in compliance with the General Law for the
            Protection of Personal Data (Law 13.709/18), the Civil Rights Framework
            for the Internet (Law 12.965/14) and the EU Regulation (EU n. 2016/6790).
            <br />
            In respect of the principle of free choice and to avoid involuntary
            renewal of the license to use this application, none of our plans offer
            the option for automatic renewal.
        </p>
        <br />
        <p class="mb-5">
            MV Sistemas - jul/2021 - Japan (admin@jploto.com)
        </p>
    </div>
</div>

@code {

}
