@* @page "/privacypolicy-ja-JP" *@

<PageTitle>Privacy Policy</PageTitle>

<div class="page privacyPolicy">
    <div class="row-cols-10">
        <h4 class="text-center">JP Loto Sistemas - プライバシーポリシー</h4>
        <hr />
        <h5 class="text-center mt-2 mb-2">利用規約</h5><br />
        <p>
            <strong>1. 個人および機密データ:</strong><br />
            このドキュメントには、ウェブサイト www.jploto.com の
            Loto6 および Loto7 番号の組み合わせを生成するための、
            ユーザーおよびウェブサイト訪問者の個人データの収集、使用、
            保存、および処理に関する情報が含まれています。
        </p>
        <p>
            <strong>2. ユーザー情報の共有。:</strong><br />
            このウェブサイト/アプリケーションによって、機密情報、個人文書、
            住所が収集および/または保存されることはありません。 ユーザー アクセスを
            制御する目的でのみ、電子メール、パスワード、および電話番号 (オプション)
            のみが要求され、www.jploto.com Web サイト データベースに保存されます。
        </p>
        <p>
            <strong>3. クッキーの使用:</strong><br />
            このアプリケーションは、Cookie を使用して、アプリケーションが機能するために
            必要な情報と構成パラメーターを保存します。 好み、行動、またはユーザー
            プロファイルに関する情報が、この Web サイトによって収集、保存、
            または処理されることはありません。
        </p>
        <p>
            <strong>4. ウェブサイトへのコミットメント:</strong><br />
            このドキュメントは、個人データの保護に関する一般法 (法律 13.709/18)、
            インターネットの公民権フレームワーク (法律 12.965/14)、および EU 規則
            (EU n. 2016/6790) に準拠して作成されました。
            <br />
            自由選択の原則と、このアプリケーションを使用するためのライセンスの非自発的な
            更新を避けるために、当社のプランでは自動更新のオプションを提供していません。
        </p>
        <br />
        <p class="mb-5">
            MV Sistemas - jul/2021 - Japan (admin@jploto.com)
        </p>
    </div>
</div>

@code {

}
