@page "/privacypolicy-pt-BR"

<PageTitle>Privacy Policy</PageTitle>
<div class="page privacyPolicy">
    <div class="row-cols-10">
        <h4 class="text-center">JP Loto Sistemas - Política de Privacidade</h4>
        <hr />
        <h5 class="text-center mt-2 mb-2">Informações gerais</h5><br />
        <p>
            Este documento tem informações sobre coleta, uso,  armazenamento
            e tratamento dos dados pessoais dos usuários e visitantes do site de
            geração de combinações numéricas para Loto6 e Loto7, entitulado JPLoto, no site
            www.jploto.com, nos seguintes termos:
        </p>
        <p>
            <strong>1. Dados pessoais e sigilosos:</strong><br />
            Nenhuma informação sigilosa, documentos pessoais ou endereço
            serão coletados e/ou armazenados por este site/aplicativo.
            Somente e-mail, senha e telefone(opcional) serão solicitados
            e armazenados na base de dados do site  www.jploto.com  para
            o único propósito de controlar o acesso de usuários.
        </p>
        <p>
            <strong>2. Compartilhamento de informações:</strong><br />
            Este site/aplicativo não compartilha nenhuma  informação  do
            usuário com outros aplicativos desenvolvidos por nós ou  por
            terceiros.
        </p>
        <p>
            <strong>3. Uso de cookie:</strong><br />
            Este aplicativo usa cookies para armazenar informações e
            parâmetros de configuração necessários ao funcionamento do
            aplicativo. Nenhuma informação sobre preferência, comportamento
            ou perfil do usuário será coletada, armazenada ou tratada por
            este site.
        </p>
        <p>
            <strong>4. Compromisso do site:</strong><br />
            Este documento foi elaborado em conformidade com a Lei Geral de
            Proteção aos Dados Pessoais (Lei 13.709/18), o Marco  Civil  da
            Internet (Lei 12.965/14) e o Regulamento da UE (UE n. 2016/6790).
            <br />
            Em respeito ao princípio da livre escolha e para evitar renovação
            involuntária da licença de uso deste aplicativo, nenhum dos nossos
            planos oferece a opção de renovação automática.
        </p>
        <br />
        <p class="mb-5">
            MV Sistemas - jul/2021 - Japan (admin@jploto.com)
        </p>
    </div>
</div>

@code {

}
