@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <AuthorizeView>
        <Authorized>
            <CardsLoto />
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
    <CardsPlans />
    <CardsMerchandizing />
</div>