@page "/"
@inject IAppConfigService configService

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <AuthorizeView>
        <Authorized>
            <CardsLoto />
        </Authorized>
        <NotAuthorized>
            @* ... *@
        </NotAuthorized>
    </AuthorizeView>
    <CardsPlans />
    <CardsAds />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var config = await configService.LoadAppConfigurationAsync();
    }
}