@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid">
    <AuthorizeView>
        <Authorized>
            <CardsLoto />
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
    <CardsPlans />
    <CardsMerchandizing />
    <div class="row mt-4 mb-4">
        <CardSubscriptions />
        <CardsNews />
    </div>
</div>