@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid py-4">
    <CardsLoto />
    <CardsMerchandizing />
    <div class="row mt-4 mb-4">
        <CardSubscriptions />
        <CardsNews />
    </div>
</div>