@page "/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<EditForm Model="loginRequest" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="loginRequest.Email" class="form-control" type="email" />
        <ValidationMessage For="@(() => loginRequest.Email)" />
    </div>
    <div class="mb-3">
        <label for="senha">Password</label>
        <InputText id="senha" @bind-Value="loginRequest.Senha" class="form-control" type="password" />
        <ValidationMessage For="@(() => loginRequest.Senha)" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>
<div class="mt-2 text-danger">
    <span>@errorMessage</span>
</div>

@code {
    private LoginRequestApplication loginRequest = new();
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
    }

    public class LoginRequestApplication
    {
        public string Email { get; set; } = string.Empty;
        public string Senha { get; set; } = string.Empty;
    }
}
